.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}

.menuwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    padding-right: 10px;
    border-radius: 2px solid #EDEDED;

    > li {
        display: inline-block;
    > a {
        display: block;
        font-size: 16px;
        color: #222;
        padding: 0 6px;
        text-decoration: none;

    }
    }
}

.buttonwrapper {
    display: flex;
    align-items: center;
   
}

.buttonlogin {
    font-size: 15px;
    color:#222;
    padding: 0 6px;
    background-color: transparent;
    cursor: pointer;
    border: none;
     outline: none;
     background-color: transparent;
}

    
   

.buttonsignup {
    padding: 2px 4px;
    border: 1px sol1d #E1E1E1;
    padding-left: 10px;
    margin-left: 15px;
    cursor: pointer;
}